In [1]:
print(range(5))

range(0, 5)

In [ ]:
for number in range(6):
    print(number)

0
1
2
3
4
5

In [ ]:
for i in range(3, 15, 4):
    print(i)

3
7
11

In [ ]:
for number in range(0, 6, 1):
    print(number)

0
1
2
3
4
5

In [7]:
# print numbers 0 .. 10

for a in range(0, 11, 1):
    print(a)

0
1
2
3
4
5
6
7
8
9
10

In [8]:
# print numbers 0 .. 10

for a in range(11):
    print(a)

0
1
2
3
4
5
6
7
8
9
10

In [9]:
# print even numbers 0 .. 20

for num in range(0, 21, 2):
    print(num)

0
2
4
6
8
10
12
14
16
18
20

In [ ]:
# find the sum of 1 .. 10
total = 0
for x in range(1, 11):
    total += x  # total = (total + x)

print(total)

55

In [ ]:
# find the product of 1 .. 10 -> 10!
total = 1

for x in range(1, 11):
    total *= x  # total = (total * x)

print(total)

3628800

In [14]:
# print * side by side n times. n = 3 -> * * *, n = 5 -> * * * * *

print("a", end=" ")
print("b")
print("c")

a b
c

In [20]:
n = 5

for i in range(n):
    print("*", end=" ")

* * * * *

In [23]:
# print the letters of a word
# hello -> h e l l o

for letter in "hello":
    print(letter, end=", ")

h, e, l, l, o,

In [27]:
# print a rectangle of *'s with dimension of h x w

"""
h = 3
w = 5

* * * * *
* * * * *
* * * * *
"""
h = 35
w = 25

for a in range(w):
    print("*", end=" ")

print("")

for a in range(w):
    print("*", end=" ")

print("")

for a in range(w):
    print("*", end=" ")

* * * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * * *

In [28]:
for i in range(4):
    for j in range(3):
        print(i, j)

0 0
0 1
0 2
1 0
1 1
1 2
2 0
2 1
2 2
3 0
3 1
3 2

In [33]:
for i in range(3):
    print("i = ", i)
    for j in range(2):
        print("  j = ", j)
        for k in range(4):
            print("     k = ", k)
        print("k is done")
    print("j is done")

print("i is done")

i =  0
  j =  0
     k =  0
     k =  1
     k =  2
     k =  3
k is done
  j =  1
     k =  0
     k =  1
     k =  2
     k =  3
k is done
j is done
i =  1
  j =  0
     k =  0
     k =  1
     k =  2
     k =  3
k is done
  j =  1
     k =  0
     k =  1
     k =  2
     k =  3
k is done
j is done
i =  2
  j =  0
     k =  0
     k =  1
     k =  2
     k =  3
k is done
  j =  1
     k =  0
     k =  1
     k =  2
     k =  3
k is done
j is done
i is done

In [35]:
# print a rectangle of *'s with dimension of h x w

"""
h = 3
w = 5

* * * * *
* * * * *
* * * * *
"""
height = 13
width = 25

for h in range(height):
    for w in range(width):
        print("*", end=" ")

    print("")

* * * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * * *
* * * * * * * * * * * * * * * * * * * * * * * * *

In [37]:
"""
1 2 1 3
0 2 5 6
8 5 4 7

3 x 4 matrix
"""

# this is the wrong solution
height = 3
width = 5

for w in range(width):
    for h in range(height):
        print("*", end=" ")

    print("")

* * *
* * *
* * *
* * *
* * *

In [43]:
# print a rectangle of *'s with dimension of h x w

"""
h = 3
w = 5

* * * * *
* * * * *
* * * * *
"""
height = 5
width = 15

h = 0

while h < height:
    w = 0
    while w < width:
        print("*", end=" ")
        w += 1
    print("")
    h += 1

* * * * * * * * * * * * * * *
* * * * * * * * * * * * * * *
* * * * * * * * * * * * * * *
* * * * * * * * * * * * * * *
* * * * * * * * * * * * * * *

In [46]:
for i in range(5):
    if i == 3:
        break
    print(i)

print("loop completed")

0
1
2
loop completed

In [ ]:
for i in range(10):
    if i % 2 == 0:
        continue

    print(i)

print("hello")

1
3
5
7
9
hello

In [ ]:
"""
print an empty rectange of *'s having h x w dims.

h = 4, w = 5

* * * * *
*       *
*       *
* * * * *
"""