In [5]:
"""
Ex 1: length w/o len

l = [3, 4, 1]
length -> 3

not allowed len(l)
"""

my_list = [3, 4, 1, 5, 7, 6, 1]
list_length = 0

for elem in my_list:
    list_length += 1

print("The length of my_list is:", list_length)

The length of my_list is: 7

In [11]:
"""
Smallest number in a list

my_list = [17, 14, 12, 15, 13, 11]

minimum_number = 11
...
minimum_number = 11
"""

my_list = [2, -4, 1, 5, 3, 2, 0]
# print(min(my_list), max(my_list))

minimum_number = my_list[0]

for num in my_list:
    if num < minimum_number:
        minimum_number = num

print("The minimum number in my_list is:", minimum_number)

The minimum number in my_list is: -4

In [13]:
my_list = [2, 4, 1, 5, 3, 2, -3, 9, 0]

maximum_number = my_list[0]

for number in my_list:
    if number > maximum_number:
        maximum_number = number

print("The max val of my_list is:", maximum_number)

The max val of my_list is: 9

In [16]:
"""
my_list = [0,1,2,3,4]
num_of_evens -> 3
num_of_odds -> 2
"""

my_list = [0, 1, 2, 3, 4, 0, 8]
num_of_evens = 0

for num in my_list:
    if num % 2 == 0:
        num_of_evens += 1

print(num_of_evens)

5

In [18]:
"""
my_list = [0,1,2,3,4]
num_of_odds -> 2
"""

my_list = [0, 1, 2, 3, 1, 0, 8]
num_of_odds = 0

for num in my_list:
    if num % 2 == 1:
        num_of_odds += 1

print(num_of_odds)

3

In [20]:
"""
my_list = [1, 2, 5, 0]

avg -> 2
"""

my_list = [1, 2, 5, 0]

total = 0
for number in my_list:
    total += number

average = total / len(my_list)
print(average)

2.0

In [ ]:
my_list = []

for i in range(4):  # runs 4 times
    num = int(input("Enter a number: "))
    my_list.append(num)

print("user entered:", my_list)

total = 0
for number in my_list:
    total += number

average = total / len(my_list)
print("avg:", average)

Enter a number: 45
Enter a number: 9
Enter a number: 4
Enter a number: 12
user entered: [2, 2, 45, 9, 4, 12]
avg: 12.333333333333334

In [25]:
"""
positive numbers
my_list = [4, -2, 2, -1, 0] -> 4, 2, 0
"""

my_list = [4, -2, 2, -1, 0]
positive_nums = []

for number in my_list:
    if number > 0:
        positive_nums.append(number)
        print(number, end=" ")

print(" ")
print(positive_nums)

4 2
[4, 2]

In [ ]:
"""
my_list = [1,2,3]
reverse a list
reversed_list = [3,2,1]
"""
my_list = [1, 2, 3]
print(my_list[0])
print(my_list[-1])
print(my_list[-2])
print(my_list[-3])

print(my_list[2])
print(my_list[1])
print(my_list[0])

1
3
2
1
3
2
1

In [ ]:
my_list = [1, 2, 3, -1, 0]

n_elems = len(my_list)  # n_elems = 5; my_list[-1]; my_list[4]

for i in range(n_elems):
    print(my_list[n_elems - i - 1])

0
-1
3
2
1

In [36]:
"""
my_list = [2, 3, 4]
factorials = [2!, 3!, 4!] == [2, 6, 24]

3! = 1 * 2 * 3
"""

# 3!
n = 4
product = 1
for i in range(1, n + 1):
    product = product * i

print(product)

24

In [40]:
my_list = [2, 3, 4, 5, 6]
factorials = []

for number in my_list:
    factorial = 1
    for i in range(1, number + 1):
        factorial = factorial * i
    factorials.append(factorial)

print(factorials)

[2, 6, 24, 120, 720]

In [ ]:
"""
identical lists
l_1 = [1,2,3], l_2 = [1,2,3] -> True
l_1 = [1,2,3], l_2 = [1,2,4] -> False
l_1 = [1,2,3], l_2 = [1,2,3,4] -> False
"""

l_1 = [1, 2, 3]
l_2 = [1, 2, 3]

print(l_1 == l_2)

True

In [ ]:
l_1 = [1, 2, 3]
l_2 = [1, 21, 3]

if len(l_1) != len(l_2):
    print("Not identical")
else:
    # lists have the same number of elements
    # check all elemnts are equal
    is_identical = True
    for i in range(len(l_1)):
        if l_1[i] != l_2[i]:
            is_identical = False
            break

    if is_identical:
        print("Lists are identical")
    else:
        print("Not identical")

Not identical