In [9]:
"""
h = 4, w = 5

* * * * *
*       *
*       *
* * * * *
"""
w = 8
h = 6

for i in range(h):
    if i == 0 or i == h-1:
        for j in range(w):
            print("*", end=" ")
    else:
        for j in range(w):
            if j == 0 or j == w-1:
                print("*", end=" ")
            else:
                print(" ", end=" ")

    print("")

* * * * * * * *
*             *
*             *
*             *
*             *
* * * * * * * *

In [ ]:
"""
l = 4

*
* *
* * *
* * * *

*
* *
*   *
*     *
*       *
* * * * * *
"""
l = 6
for row in range(1, l+1):
    for j in range(row):
        print("*", end=" ")

    print("")

*
* *
* * *
* * * *
* * * * *
* * * * * *

In [ ]:
"""
num = 5

1 -> 1
2 -> 3
3 -> 6
4 -> 10
5 -> 15

1 -> 1
2 -> 2
3 -> 6
4 -> 24
...
"""

num = 5

for curr_row in range(1, num+1):
    total = 0
    for n in range(1, curr_row+1):
        total += n

    print(curr_row, " -> ", total)

1  ->  1
2  ->  3
3  ->  6
4  ->  10
5  ->  15

In [ ]:
"""
l = 5

    *      row:1 -> 2sp + 1*
  * * *    row:2 -> 1ps + 3*
* * * * *  row:3 -> 0sp + 5*
  * * *
    *

"""
l = 9
max_row = (l + 1) // 2
num_stars = 1
# print the upper half of the diamond shape.
for row in range(1, max_row+1):
    num_sp = max_row - row

    for col in range(num_stars + num_sp):
        if col < num_sp:
            print(" ", end=" ")
        else:
            print("*", end=" ")
    num_stars += 2
    print("")

# print the lower half of the diamond shape.
num_stars -= 2
max_row = (l - 1) // 2
for row in range(1, max_row+1):
    num_sp = row
    num_stars -= 2
    for col in range(num_stars + num_sp):
        if col < num_sp:
            print(" ", end=" ")
        else:
            print("*", end=" ")

    print("")

        *
      * * *
    * * * * *
  * * * * * * *
* * * * * * * * *
  * * * * * * *
    * * * * *
      * * *
        *

In [47]:
"""
n = 7
1, 1, 2, 3, 5, 8, 13
"""

first = 1
second = 1
curr = first + second
print(curr)

first = second
second = curr
curr = first + second
print(curr)

first = second
second = curr
curr = first + second
print(curr)

first = second
second = curr
curr = first + second
print(curr)

2
3
5
8

In [56]:
"""
n = 7
1, 1, 2, 3, 5, 8, 13, 21, 34
"""

first = 1
second = 1
curr = first + second

n = 4

if n == 1:
    print(1)
elif n == 2:
    print(1)
else:
    for i in range(3, n):
        first = second
        second = curr
        curr = first + second
    print(curr)

3

In [ ]:
"""
x   x  row 1: 0sp + x + 3sp + x : (r - 1)sp + x + hsp + x
 x x   row 2: 1sp + x + 1sp + x : (r - 1)sp + x + (h-2)sp + x
 x x   row 4: 1sp + x + 1sp + x
x   x  row 5: 0sp + x + 3sp + x
"""

h = 4
# prints the upper half
num_sp_between = h
for row in range(1, h):
    num_lsp = row - 1
    for j in range(num_lsp):
        print(" ", end=" ")
    print("x", end=" ")
    for j in range(num_sp_between):
        print(" ", end=" ")
    print("x", end=" ")
    num_sp_between -= 2
    print("")

x         x
  x     x
    x x